<div id="wrapperResultadoApontamentoIndex" class="wrapperforms">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">filter_list</i>Filtrar
            </div>
            <div class="collapsible-body cyan lighten-5">
                <div class="row">
                    <form class="col s12">
                        <div class="input-field inline col s12 m4 l3">
                            <i class="material-icons prefix">date_range</i>
                            <input id="data_inicio" type="text" class="datepicker">
                            <label for="data_inicio">Data inicial</label>
                        </div>
                        <div class="input-field inline col s12 m4 l3">
                            <input id="data_fim" type="text" class="datepicker" onfocus="configuraCalendario();">
                            <label for="data_fim">Data final</label>
                        </div>
                        <div class="input-field inline col s12 m4 l6">
                            <i class="material-icons prefix">person</i>
                            <select id="selectColaborador">
                                <option value="0" disabled selected>Selecione</option>
                            </select>
                            <label>Responsável</label>
                        </div>
                    </form>
                    <button href="#!" class="btn waves-effect waves-light" onclick="aplicarFiltroResultadoApontamento();">Aplicar</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <div id="conteudo-apontamentos">
    </div>
</div>