<div class="col s6">
    <div class="card">
        <div class="card-content">
            <canvas id="chartExemploBarras">
            </canvas>
        </div>
    </div>
</div>

<div class="col s6">
    <div class="card">
        <div class="card-content">
            <canvas id="chartExemploPizza">
            </canvas>
        </div>
    </div>
</div>