<div id="wrapperProjetoCreate" class="wrapperforms">
    <div class="row">
        <div class="barra-conteudo red lighten-1">
            <button type="button" class="btn col-xs-3 col-sm-3 col-md-1 pull-right" onclick="">
                <span class="sft-salvar"> Salvar</span>
            </button>
            <button type="button" class="btn col-xs-3 col-sm-3 col-md-1 pull-right" onclick="">
                <span class="sft-voltar"> Voltar</span>
            </button>
        </div>
    </div>
</div>