<div class="modal-content">
    <h4>Novo Projeto</h4>
    <form>
        <div class ="input-field col s12">
            <input id="nome" type="text" class ="validate">
            <label for="nome">Nome do Projeto</label>
        </div>
        <div class ="input-field col s12">
            <textarea id="descricao" class ="materialize-textarea validate"></textarea>
            <label for="descricao">Descrição do projeto</label>
        </div>
    </form>
    <div class="row right">
        <button class ="btn waves-effect waves-light" name="action" onclick="cadastrarProjeto();">Salvar</button>
    </div>
    <span id="projetoid" hidden="hidden"></span>
</div>
