<div id="wrapperProjetoIndex" class="wrapperforms">
    <div class="row">
        <div class="fixed-action-btn">
            <a id="botao-incluir" class="modal-trigger btn-floating btn-large waves-effect waves-light orange"
                onclick="newProjeto();" data-toggle="modal" data-target="modalNovoProjeto">
                <div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Novo projeto">
                    <i class="material-icons">add</i>
                </div>
            </a>
        </div>
        <div id="conteudo-projeto">
            <div class ="card">
                <div class ="card-content">    
                    <table id="tableProjetos" class="highlight">
                        <thead>
                            <tr>
                                <th class="col s1">Código</th>
                                <th class="col l3 m2 s7">Nome</th>
                                <th class="col l4 m5 s3">Descrição</th>
                                <th class="col l4 m3 s4"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="modalNovoProjeto" role="dialog">
            </div>
        </div>
    </div>
</div>