<!DOCTYPE html>
<html>

<head>
    <title>Monografia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!--Import Google Icon Font-->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <link rel="stylesheet" type="text/css" href="~/assets/css/material-icons.css" />
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="~/assets/css/materialize.css"/>
      <link type="text/css" rel="stylesheet" href="~/assets/css/holdon.css"/>
      
      <link type="text/css" rel="stylesheet" href="~/assets/css/site.css"/>
</head>

<body onload="verificaAutenticacao();">
    <div id="main" class="container-fluid" hidden="hidden">
        <div class="row">
            <div id="sidebar" class="col-xs-12 col-sm-4 col-md-3"></div>
            <div id="wrapper" class="col-xs-12 col-sm-8 col-md-9"></div>
        </div>
    </div>
    
    <script type="text/javascript" src="~/assets/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.mask.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.priceformat.js"></script>
    <script type="text/javascript" src="~/assets/js/materialize.js"></script>
    <script type="text/javascript" src="~/assets/js/chart.js"></script>
    <script type="text/javascript" src="~/assets/js/holdon.js"></script>
    <!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->

    <script type="text/javascript" src="~/assets/js/common.js"></script>
    <script type="text/javascript" src="~/login/login.js"></script>
    <script type="text/javascript" src="~/trocasenha/trocasenha.js"></script>
    <script type="text/javascript" src="~/shared/home.js"></script>
    <script type="text/javascript" src="~/projeto/projeto.js"></script>
    <script type="text/javascript" src="~/tarefa/tarefa.js"></script>
    <script type="text/javascript" src="~/usuario/usuario.js"></script>
    <script type="text/javascript" src="~/apontamento/apontamento.js"></script>
    <script type="text/javascript" src="~/resultado/exemplo/exemplo.js"></script>
    <script type="text/javascript" src="~/resultado/categoria/resultadoCategoria.js"></script>
    <script type="text/javascript" src="~/resultado/desempenho/resultadoDesempenho.js"></script>
    <script type="text/javascript" src="~/resultado/projeto/resultadoProjeto.js"></script>
    <script type="text/javascript" src="~/resultado/apontamento/resultadoApontamento.js"></script>
    <script type="text/javascript" src="~/resultado/tarefas/resultadoTarefas.js"></script>
    
    <div id="app">
        <div id="menu">
            
        </div>
    </div>
</body>

</html>