<nav class="nav-extended">
    <div id="barra-menu" class="nav-wrapper">
        <ul>
            <a href="#" data-activates="slide-out" class="button-collapse waves-effect show-on-large">
                <i class="material-icons">menu</i>
            </a>
        </ul>
        <ul>
            <a href="#!" id="titulo-nav" class="brand-logo"></a>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background cyan darken-4">
                    </div>
                    <a><span id="nomeUsuario-sidenav" class="white-text title"></span></a>
                </div>
            </li>
            <li><a href="#!" class="waves-effect menu-item hidden-dev" onclick="projetoIndex();">Projetos</a></li>
            <li><a href="#!" class="waves-effect menu-item hidden-dev" onclick="usuarioIndex();">Membros</a></li>
            <li><a href="#!" class="waves-effect menu-item hidden-admin" onclick="apontamentoIndex();">Apontamentos</a></li>
            <!-- <li><a href="#" class="waves-effect menu-item hidden-dev" onclick="resultadoApontamentoIndex();">Apontamentos</a></li> -->
            
            <li class="no-padding hidden-dev">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">
                            Resultados
                            <i class="material-icons">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#!" class="waves-effect menu-item" onclick="resultadoCategoriaIndex();">Por categorias</a></li>
                                <li><a href="#!" class="waves-effect menu-item" onclick="resultadoDesempenhoIndex();">Por desempenho</a></li>
                                <li><a href="#!" class="waves-effect menu-item" onclick="resultadoProjetoIndex();">Por projetos</a></li>
                                <li><a href="#!" class="waves-effect menu-item" onclick="resultadoTarefasIndex();">Por Tarefas</a></li>
                                <li><a href="#!" class="waves-effect menu-item" onclick="resultadoApontamentoIndex();">Visualizar apontamentos</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><div class="divider"></div></li>
            <li><a href="#!" class="waves-effect menu-item" onclick="renderScreenTrocaSenha();">Trocar senha</a></li>
            <li><a href="#!" class="waves-effect menu-item" onclick="logout();">Sair</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="nav-content">
        <span class="nav-title"></span>
        <div id="conteudo" class="col s12 m12 l10 offset-l1">
        </div>
    </div>
</div>