html, body {
    height: 100%;    
    background-color: #e0f2f1
}

#app {
    background-size: 100% 100%;
    position: page;
}

#login {
    background-color: #00838f;
    position: absolute;
    height: 100%;   
    width: 100%;
}

.wrapperforms {
    /* padding-top: 20px;  */
}

.nav-wrapper {
    background-color: #00838f;
}

.nav-content {
    background-color: #00838f;
    padding-bottom: 100px;
}

    .nav-content #botao-incluir {
        position: fixed;
        /* top: -450px; */
        top: 135px;
        right: 20px;
    }

.barra-conteudo {
    height: 45px;
}

    .barra-conteudo > .btn {
        height: 42px;
    }

.editaregistro {
    cursor: pointer;
}

#conteudo-projeto #botao-tarefas {
    padding: 10px;
    padding-top: 0px;
    margin: 2px;
}

#chartResultadoProjeto {
    border: 1px;
}

.legendaApontamento {
    /* padding: 5px; */
}