<div id="wrapperResultadoCategoriaIndex" class="wrapperforms">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">filter_list</i>Filtrar
            </div>
            <div class="collapsible-body cyan lighten-5">
                <div class="row">
                    <form class="col s12 m8">
                        <div class="input-field inline col s12">
                            <i class="material-icons prefix">person</i>
                            <select id="selectProjeto">
                                <option value="0" selected disabled>Selecione</option>
                            </select>
                            <label>Projeto</label>
                        </div>
                    </form>
                    <button class ="btn waves-effect waves-light" onclick="aplicarFiltroResultadoProjeto();">Aplicar</button>
                </div>
            </div>
        </li>
    </ul>
    <!-- </div>     -->
    <div class="row">
        <div id="conteudo-resultadoProjeto">
            <canvas id="chartResultadoProjeto">
            </canvas>
        </div>
    </div>
</div>