<div id="wrapperResultadoCategoriaIndex" class="wrapperforms">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">filter_list</i>Filtrar
            </div>
            <div class="collapsible-body cyan lighten-5">
                <div class="row">
                    <form class="col m8 s12">
                        <div class="input-field inline col s12 m6">
                                <i class="material-icons prefix">date_range</i>
                            <input id="data_inicio" type="text" class="datepicker">
                            <label for="data_inicio">Data inicial</label>
                        </div>
                        <div class="input-field inline col s12 m6">
                            <input id="data_fim" type="text" class="datepicker" onfocus="configuraCalendario();">
                            <label for="data_fim">Data final</label>
                        </div>                        
                    </form>
                    <button class ="btn waves-effect waves-light" onclick="aplicarFiltroResultadoCategoria();">Aplicar</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div id="conteudo-resultadoCategoria">
            <canvas id="chartResultadoCategoria">
            </canvas>
        </div>
    </div>
</div>