<div class="modal-content">
    <h4>Novo Usuario</h4>
    <form>
        <div class ="input-field col s9">
            <input id="nome_completo" type="text" class="validate">
            <label for="nome_completo">Nome Completo</label>
        </div>
        <div class ="input-field col s3">
            <input id="valor_hora" type="text" class="validate money" data-mask="000.000.000.000,00">
            <label for="valor_hora">Valor Hora</label>
        </div>
        <div class ="input-field col s6">
            <input id="nome_usuario" type="text" class="validate">
            <label for="nome_usuario">Nome de Usuário</label>
        </div>
        <div class ="input-field col s6">
            <input id="senha" type="password" class="validate">
            <label for="senha">Senha</label>
        </div>
        <div class="col s2">
            <input id="gerente" type="checkbox" class="filled-in"/>
            <label for="gerente">Gerente</label>
        </div>
    </form>
    <div class="row right">
        <button class ="btn waves-effect waves-light" name="action" onclick="cadastrarUsuario();">Salvar</button>
    </div>
    <span id="usuarioid" hidden="hidden"></span>
</div>
