<div id="wrapperUsuarioIndex" class="wrapperforms">
    <div class="row">
        <!-- <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right"></a>
                <ul id="nav-mobile" class="left">
                    <li><a class="modal-trigger" data-toggle="modal" data-target="modalNovoUsuario" onclick="newUsuario();">Novo</a></li>
                    <li><a href="#">Remover</a></li>
                </ul>
            </div>
        </nav> -->
        <div class="fixed-action-btn">
            <a id="botao-incluir" class="modal-trigger btn-floating btn-large waves-effect waves-light orange"
                onclick="newUsuario();" data-toggle="modal" data-target="modalNovoUsuario">
                <div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Novo membro">
                    <i class="material-icons">add</i>
                </div>
            </a>
        </div>
        <div id="conteudo-usuario">
            <div class ="card">
                <div class ="card-content">    
                    <table id="tableUsuarios" class="highlight">
                        <thead>
                            <tr>
                                <th class="col s1">Código</th>
                                <th class="col s6">Nome Completo</th>
                                <th class="col s3">Valor Hora</th>
                                <th class="col s2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="modalNovoUsuario" role="dialog">
            </div>
        </div>
    </div>
</div>