<div class="modal-content">
    <h4>Novo Apontamento</h4>
    <form>
        <div class="input-field col s12">
            <textarea id="descricao" class="materialize-textarea validate"></textarea>
            <label for="descricao">Descrição</label>
        </div>
        <div class="input-field col l4 s12">
            <input id="data" type="text" class="datepicker validate">
            <label for="data">Data</label>
        </div>
        <div class="input-field col l4 s6">
            <input id="hora_inicial" type="text" class="time validate">
            <label for="hora_inicial">Hora Inicial</label>
        </div>
        <div class="input-field col m4 s6">
            <input id="hora_final" type="text" class="time validate">
            <label for="hora_final">Hora Final</label>
        </div>
        <div class="input-field col s12">
            <select id="selectCategoria">
                <option value="1" selected>Produtividade</option>
                <option value="2">Investimento</option>
                <option value="3">Perda gerencial</option>
            </select>
            <label>Categoria</label>
        </div>
        <div class="input-field col s12">
            <select id="selectTarefa" onchange="atualizaCheckFinalizada()">
                <option value="0" selected>Nenhuma</option>
            </select>
            <label>Tarefa Relacionada</label>
        </div>
        <div class="col s5">
            <input id="tarefa_finalizada" type="checkbox" class="filled-in" disabled="disabled"/>
            <label for="tarefa_finalizada">Tarefa finalizada</label>
        </div>
    </form>
    <div class="row right">
        <button class="btn waves-effect waves-light" name="action" onclick="cadastrarApontamento();">Salvar</button>
    </div>
    <span id="apontamentoid" hidden="hidden"></span>
</div>