<div id="wrapperApontamentoIndex" class="wrapperforms">
    <div class="row">
        <!-- <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right"></a>
                <ul id="nav-mobile" class="left">
                    <li><a class="modal-trigger" data-toggle="modal" data-target="modalNovoApontamento" onclick="newApontamento();">Novo</a></li>
                </ul>
            </div>
        </nav> -->
        <div class="fixed-action-btn">
            <a id="botao-incluir" class="modal-trigger btn-floating btn-large waves-effect waves-light orange"
                onclick="newApontamento();" data-toggle="modal" data-target="modalNovoApontamento">
                <div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Novo apontamento">
                    <i class="material-icons">add</i>
                </div>
            </a>
        </div>
        <div id="conteudo-apontamento">
            <div class ="card">
                <div class ="card-content">    
                    <table id="tableApontamentos" class="highlight">
                        <thead>
                            <tr>
                                <th class="col s1">Código</th>
                                <th class="col s5">Descrição</th>
                                <th class="col s2 center">Data</th>
                                <th class="col s1 center">Início</th>
                                <th class="col s1 center">Término</th>
                                <th class="col s2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="modalNovoApontamento" role="dialog"></div>
        </div>
    </div>
</div>