<div id="login" class="row valign-wrapper">
    <div class="col s12">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="col s12">
                                <span><b>Login</b></span>
                            </div>
                            <div class="input-field col s12">
                                <input id="nome_usuario" type="text" class="validate">
                                <label for="nome_usuario">Nome de Usuário</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="senha" type="password" class="validate" onkeydown="verificaConfirmaAutenticacao(event);">
                                <label for="senha">Senha</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row right-align">
                        <a href="#" class="waves-effect btn" onclick="autenticaLogin();">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 ssm-center-parent">
            
        </div>
    </div>
</div>