<div class="modal-content">
    <h4>Nova Tarefa</h4>
    <form>
        <div class ="input-field col s12">
            <textarea id="descricao" class ="materialize-textarea validate"></textarea>
            <label for="descricao">Descrição</label>
        </div>
        <div class="input-field col s4">
            <input id="previsao_inicio" type="text" class="datepicker validate" onfocus="configuraCalendario();" onblur="RemoveInvalid_datepicker()">
            <label for="previsao_inicio">Início</label>
        </div>
        <div class="input-field col s4">
            <input id="previsao_fim" type="text" class="datepicker validate" onfocus="configuraCalendario();" onblur="RemoveInvalid_datepicker()">
            <label for="previsao_fim">Término</label>
        </div>
        <div class="input-field col s4 ">
            <input id="previsao_tempo_gasto" class="validate" type="number" min="1">
            <label for="previsao_tempo_gasto">Horas necessárias</label>
        </div>
        <div class="input-field col s12">   
            <select id="selectResponsavel">
              <option value="0" selected>Não selecionado</option>
            </select>
            <label>Responsável</label>
        </div>
    </form>
    <div class="row right">
        <button class ="btn waves-effect waves-light" name="action" onclick="cadastrarTarefa();">Salvar</button>
    </div>
    <span id="tarefaid" hidden="hidden"></span>
</div>
