<div id="wrapperTarefaIndex" class="wrapperforms">
    <div class="row">
        <div class="fixed-action-btn">
            <a id="botao-incluir" class="modal-trigger btn-floating btn-large waves-effect waves-light orange"
                onclick="newTarefa();" data-toggle="modal" data-target="modalNovaTarefa">
                <div class="tooltipped" data-position="top" data-delay="50" data-tooltip="Nova tarefa">
                    <i class="material-icons">add</i>
                </div>
            </a>
        </div>
        <nav>
            <div class="nav-wrapper">
              <div class="col s12">
                <a href="#!" class="breadcrumb" onclick="projetoIndex();">Projetos</a>
                <a href="#!" class="breadcrumb">Tarefas</a>
              </div>
            </div>
        </nav>
        <div id="conteudo-tarefa">
            <div class ="card">
                <div class ="card-content">    
                    <table id="tableTarefas" class="highlight">
                        <thead>
                            <tr>
                                <th class="col s1">Código</th>
                                <th class="col s4">Descrição</th>
                                <th class="col s2 center">Inicio</th>
                                <th class="col s2 center">Término</th>
                                <th class="col s1 center">Custo</th>
                                <th class="col s2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <span id="projeto_codigo" hidden="hidden"></span>
            <div class="modal fade" id="modalNovaTarefa" role="dialog"></div>
        </div>
    </div>
</div>