<div id="login" class="row valign-wrapper">
    <div class="col s12">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="col s12">
                                <span><b>Trocar senha</b></span>
                            </div>
                            <div class="input-field col s12">
                                <input id="senha_antiga" type="password" class="validate">
                                <label for="senha_antiga">Senha antiga</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="senha_nova" type="password" class="validate">
                                <label for="senha_nova">Nova senha</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="senha_confirma" type="password" class="validate" onkeydown="verificaConfirmaAutenticacao(event);">
                                <label for="senha_confirma">Confirmação</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row right-align">
                        <a href="#" class="waves-effect btn" onclick="confirmaTrocaSenha();">Confirmar</a>
                        <a href="#" class="waves-effect btn" onclick="loadHome();">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 ssm-center-parent">
        </div>
    </div>
</div>